.navbar{
  background-color: #0f1c3f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-list li {
  margin-right: 40px;
}

.nav-list a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.title{
  font-family:'Times New Roman', Times, serif;
  
}

#p{
  text-align: left;

}